*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav{
    display: flex;
    gap: 20px;
}

body{
    background-color: grey;
}